<!--The content below is only a placeholder and can be replaced.-->
<div class="nav-bar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Baking Time Reminder</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="main-container">
  <div class="main">
    <mat-table #table [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> 醒发时间</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> 揉</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> 分</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}}</mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> 缩</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <div class="side-reminder">
    <h3 class="reminder-title">Reminders</h3>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-card>
          <mat-card-header>
            <mat-card-title>9:17</mat-card-title>
            <mat-card-subtitle>醒发</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              提醒：醒发！
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" mat-button>完成</button>
          </mat-card-actions>
        </mat-card>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-card>
          <mat-card-header>
            <mat-card-title>9:17</mat-card-title>
            <mat-card-subtitle>醒发</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              提醒：醒发！
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" mat-button>完成</button>
          </mat-card-actions>
        </mat-card>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-card>
          <mat-card-header>
            <mat-card-title>9:17</mat-card-title>
            <mat-card-subtitle>醒发</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              提醒：醒发！
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" mat-button>完成</button>
          </mat-card-actions>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>
</div>


