<!--The content below is only a placeholder and can be replaced.-->
<div class="nav-bar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Baking Time Reminder</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="main-container">
  <div class="main">
    <div class="table-container">
      <div class="table-header">烤面包时间计算公式（填写吸水率、醒发时间)</div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">序号</th>
          <th scope="col">吸水率%</th>
          <th scope="col">加水量</th>
          <th scope="col">醒发时间</th>
          <th scope="col">揉</th>
          <th scope="col">分</th>
          <th scope="col">缩</th>
          <th scope="col">烤</th>
          <th scope="col">出</th>
          <th></th>
        </tr>
        </thead>
      </table>
      <div #tableWapper class="table-wapper">
        <table class="table">
          <thead style="height: 0">
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th></th>
          </tr>
          <tbody>
          <tr *ngFor="let row of rowData;  let i = index">
            <td>{{i + 1}}</td>
            <td>
              <input class="range" [(ngModel)]='row.waterRange' (blur)="calculateWaterValume(row, row.waterRange)">
            </td>
            <td>{{row.water}}</td>
            <td *ngIf="row.start">{{row.proof.displayTime}}</td>
            <td *ngIf="row.start" [ngClass]="{'alert': row.knead.alert, 'done':row.knead.done ,'shake': row.knead.alert}">
              {{row.knead.displayTime}}
            </td>
            <td *ngIf="row.start" [ngClass]="{'alert': row.split.alert, 'done':row.split.done, 'shake': row.split.alert}">
              {{row.split.displayTime}}
            </td>
            <td *ngIf="row.start"
                [ngClass]="{'alert': row.shrink.alert, 'done':row.shrink.done, 'shake': row.shrink.alert}">
              {{row.shrink.displayTime}}
            </td>
            <td *ngIf="row.start" [ngClass]="{'alert': row.bake.alert, 'done':row.bake.done, 'shake': row.bake.alert}">
              {{row.bake.displayTime}}
            </td>
            <td *ngIf="row.start" [ngClass]="{'alert': row.baked.alert, 'done':row.baked.done ,'shake': row.baked.alert}">
              {{row.baked.displayTime}}
            </td>
            <td style="text-align: left" colspan="7" *ngIf="!row.start">
              <button [disabled]="isStartButtonDisabled(i+1)" (click)="constructTimeCol(row, i)" class="btn btn-primary">开始计时</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="table-footer">
        <button (click)="onNewDataButtonClick()" type="button" class="btn btn-primary">添加数据</button>
      </div>
    </div>
    <footer>CopyRight @Max Chang & @Sun Tong  V1.0.0</footer>
  </div>
  <div class="side-reminder">
    <div class="reminder-title">待办事项</div>
    <div class="list-container">
      <mat-list role="list">
        <mat-list-item *ngFor="let row of reminderList" role="listitem">
          <mat-card *ngIf="!row.done">
            <mat-card-header>
              <mat-card-title>{{row.displayTime}}</mat-card-title>
              <mat-card-subtitle>{{row.reminder}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content [ngClass]="{'alert': row.alert}">
              <p>
                提醒：第{{row.index}}组需要{{row.reminder}}！
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button *ngIf="row.alert" type="button" (click)="reminderDone(row)" class="btn btn-primary">完成</button>
            </mat-card-actions>
          </mat-card>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
<audio #alertMessage src="../dist/assets/alert/alert.mp3">
</audio>


