@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.nav-bar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.main-container {
  width: 100%;
  height: calc(100% - 64px);
  display: flex;
}

.side-reminder, .main {
  padding: 20px;
}

.side-reminder {
  width: 20%;
  background-color: white;
}

.main {
  width: 80%;
  display: flex;
  padding: 50px;
}

.mat-list {
  padding-top: 30px;
}

.mat-list .mat-list-item {
  height: auto;
}

.mat-card-title {
  color: #f44336;
}

mat-table {
  width: 100%;
}
