@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.nav-bar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.main-container {
  width: 100%;
  height: calc(100% - 64px);
  display: flex;
}

.side-reminder, .main {
  padding: 20px;
}

.side-reminder {
  width: 20%;
  background-color: white;
}

.list-container{
  height: 95%;
  overflow: auto;
}

.main {
  width: 80%;
  display: flex;
  padding: 50px;
}

.mat-list {
  padding-top: 30px;
}

.mat-list .mat-list-item {
  height: auto;
}

mat-card{
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-card-content.alert, td.alert{
  color: #f44336;
}
td.done {
  color: #009933;
}

table {
  background-color: white;
}

table th:not(colspan),table td:not(colspan) {
  width: 11%;
  text-align: center;
}

td input.range{
  width: 35%;
}

td input.time{
  width: 20%;
}

footer{
  position: absolute;
  bottom: 0;
  text-align: center; width: 80%
}

