/* You can add global styles to this file, and also import other style files */
@import "assets/bootstrap/bootstrap.min.css";

*, body {
  padding: 0;
  margin: 0;
}

body {
  background: #fafafa;
}

html, body {
  height: 100%;
}

.mat-card {
  width: 100%;
}

.mat-card-header .mat-card-header-text {
  margin: 0;
}

button.btn-primary{
  background-color: #3f51b5;
  color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 0;
  margin: 0 4px;
  border: none;
}

button.btn-primary:not([disabled]):active{
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  background-color: #3f51b5;;
  border: 0;
}

button.btn-primary:hover{
  background-color: #3f51b5;
  border: 0;
}

button.btn-primary:focus{
  background-color: #3f51b5;
  border: 0;
  box-shadow: none;
}

button.btn-primary:not(:disabled):not(.disabled):active{
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  background-color: #3f51b5;;
  border: 0;
}
.btn-primary:not(:disabled):not(.disabled):active:focus{
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}


.btn-primary:not(:disabled):not(.disabled):active{
  background-color: #3f51b5;
  border: none;
}
